* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #fff;
  padding: 40px;
}

.manager-header {
  position: relative;
  height: 60px;
  width: 100%;
}

.back-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: orange;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s ease;
  cursor: pointer;
}

.back-button:hover {
  background-color: #e69500;
}

.back-button.header-back {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  margin-bottom: 0;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
  color: #FFA500;
}

h3 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.password-form {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.password-form label {
  font-size: 2rem;
  color: #FFA500;
  font-weight: bold;
}

.password-form input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #444;
  background-color: #2a2a2a;
  color: #fff;
}

.password-form .custom-button {
  padding: 10px 20px;
  background-color: #FFA500;
  color: #111;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.password-form .custom-button:hover {
  background-color: #e69500;
}

a {
  color: #FFA500;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  text-align: center;
  padding: 10px;
  border: 2px solid #FFA500;
  border-radius: 8px;
  transition: all 0.3s ease;
}

a:hover {
  background-color: #FFA500;
  color: #111;
}

a.add-btn {
  color: #FFA500;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  text-align: center;
  margin-bottom: 40px;
  padding: 10px;
  border: 2px solid #FFA500;
  border-radius: 8px;
  transition: all 0.3s ease;
}

a.add-btn:hover {
  background-color: #FFA500;
  color: #111;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.5);
}

th {
  background-color: #FFA500;
  color: white;
  padding: 12px;
  font-size: 1.1rem;
  text-align: left;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

td {
  padding: 12px;
  text-align: left;
  font-size: 1rem;
  border-bottom: 1px solid #444;
}

tbody tr:hover {
  background-color: #2a2a2a;
}

td a {
  color: #FFA500;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s;
}

td a:hover {
  color: #d15d00;
}

@media (max-width: 768px) {
  body {
    padding: 20px;
  }

  table, th, td {
    font-size: 0.9rem;
  }

  h2 {
    font-size: 2rem;
  }

  a.add-btn {
    font-size: 1rem;
  }

  .back-button {
    padding: 10px 20px;
  }
}
